.NewBoard{
    display: grid;
    justify-content: center;
}

.progress-bar{
    position: relative;
    height: 10px;
    width: 426px;
    border-radius: 50px;
    border: 1px solid #333;
}

.filler{
    background: rgb(3, 238, 73);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}
#inventoryButton {
    display: inline-block;
}